body{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin-bottom: 0;
  background-color: #636B61;
  color: white;
}

header{
  height:  5.5em !important;
}

.select-service{
  background-color: #636B61;
}

#services ul li a{
  background-color: #e37d64;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

footer .link_menu ul li a, #usermenu a{
  color: white;
  letter-spacing: 0;
  font-family: Calibre, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

#usermenu{
  padding-right: 3px;
}
header{
  background-color: #636B61;
  color: white;
 text-align: center;
}

/*
Background color same as page
Ul green? or Li Green?
  Body green -> li orange -> text black
  
  Background: #F7EBE6
*/